body{
    background-color: var(--white-smoke);
    color: var(--rich-black);


    --calc-width: min(100vw, 1000px);
    width: var(--calc-width);
    margin-left: calc((100vw - var(--calc-width))/2);
}